.messanger-container {
    width: 350px;
    height: 750px;
    background-color: black;
    color: #fafafa;
    display: flex;
    flex-direction: column;
}

.messanger-body {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

$breakpoint-tablet: 575px;
$breakpoint-laptop: 768px;
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
.messanger-container {
    width: 250px;
    height: 525px;
}
}