.input-container {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        background-color: black;
        border: 1px solid gray;
        border-radius: 8px;
        color: #fafafa;
        margin-right: -20px;
        line-height: 20px;
    }

    button {
        background-color: #30e34b;
        border-radius: 8px;
        border: none;
        color: white;
        height: 22px;
        width: 22px;
        margin-top: 2px;
    }
}