.input-container {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        background-color: black;
        border: 1px solid gray;
        border-radius: 8px;
        color: #fafafa;
    }
}